#root {
  padding-bottom: 1em
}

header {
  display: flex;
  align-items: center;
  padding-left: 1em;
  background-color: bisque;
  height: 6vh
}

h1 {
  font-size: 1.75em !important;
}

h2 {
  font-size: 1.5em !important;
}

h3 {
  font-size: 1.20em !important;
}

.rounded-rectangle {
  margin: 0 auto !important;
  margin-top: .2em !important;
  border-radius: 5px;
  max-width: 80vh;
  width: 100%;
  text-align: center;
  padding: .5em;
  border: none
}

#reset-button {
  background-color: #f0f9f8;
}

#reset-button:hover {
  background-color: #b6e2dd;
}

.info-box {
    background-color: white;
    color: #283044;
    padding: .5em;
    border-radius: 3px;
    border: none;
    margin-top: .5em !important;
}

.form {
  background-color: #f0f9f8;
  border: 1px solid #a7dcd6;
  padding: .5em;
  border-radius: 5px;
}
  
.basic-button {
  width: 100%;
  display: block;
  border-radius: 3px;
  border: none;
  background-color: bisque;
}

#toggle-view-button {
  background-color: #A6C9B0;
  color: black;
}

#toggle-view-button:hover {
  background-color: #e6efe8 ;
}

#submit-button:hover {
  background-color: rgb(252, 242, 231);
}

.arrow {
  font-size: 3em;
}

.arrow-box {
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  margin: 0px 5px;
  display: inline-block;
}

.arrow-box:hover {
  background-color: #333533;
  color: #e0e0e0
}

.arrows-holder {
  display: flex;
  justify-content: space-around;
}